In [ ]:
def concatenate(L1, L2, connector):
    
    pass

In [8]:
concatenate(['a', 'b'],['a', 'b'],'-')

NameError: name 'concatenate' is not defined

In [9]:
import mysql

ModuleNotFoundError: No module named 'mysql'

In [10]:
import mysqlclient

ModuleNotFoundError: No module named 'mysqlclient'

In [11]:
import MySql

ModuleNotFoundError: No module named 'MySql'

In [12]:
import pymysql

In [13]:
import pymysql
pymysql.install_as_MySQLdb()

In [14]:
import MySQLdb

In [ ]:
db = MySQLdb.connect("localhost","anwar","Admin","mysql" )

In [ ]:
cursor = db.cursor()

In [69]:
cursor.execute("SELECT VERSION()")

1

In [20]:
data = cursor.fetchone()
print "Database version : %s " % data

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Database version : %s " % data)? (<ipython-input-20-448f707ec8bf>, line 2)

In [21]:
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

0

In [28]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES('venkat', 'perugu', 32, 'M', 700000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [23]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES('vaibhav', 'maddipatla', 23, 'M', 900000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [24]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES('varun', 'bolla', 30, 'M', 800000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [29]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES('divya', 'kamju', 23, 'F', 400000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [30]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES('viharika', 'velagala', 23, 'F', 200000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [31]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES('anwar', 'shaik', 23, 'M', 100000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [35]:
sql = """CREATE TABLE EMPLOYEE (PERSON_ID INT, 
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

0

In [53]:
sql = """INSERT INTO EMPLOYEE(PERSON_ID, FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES(4, 'viharika', 'velgala', 23, 'f', 500000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [54]:
sql = """DELETE FROM EMPLOYEE WHERE PERSON_ID=5;"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [55]:
sql = """INSERT INTO EMPLOYEE(PERSON_ID, FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES(5, 'anwar', 'shaik', 24, 'm', 400000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [ ]:
sql = """select * from employee;"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [57]:
import pprint
pprint.pprint(rows)

NameError: name 'rows' is not defined

In [ ]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES('venkat', 'perugu', 32, 'M', 700000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [63]:
SELECT * FROM employee
WHERE PERSON_ID=1;

SyntaxError: invalid syntax (<ipython-input-63-590466965e22>, line 1)

In [64]:
CREATE DATABASE my new;

SyntaxError: invalid syntax (<ipython-input-64-1224c0780b66>, line 1)

In [102]:
sql = """create database my_new;"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [ ]:
sql = """CREATE TABLE student (PERSON_ID INT, 
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

In [ ]:
sql = """INSERT INTO management(PERSON_ID, FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES(1, 'varun', 'bolla', 30, 'm', 500000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [ ]:
sql = """(DROP TABLE management ;)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [ ]:
cursor=db.cursor()
cursor.execute("""SELECT * FROM management ;""")
cursor.fetchall()